[versions]
ipdb = 0.13.13

plone.recipe.codeanalysis = 3.0.1
flake8 = 7.2.0
flake8-isort = 6.1.2
flake8-polyfill = 1.0.2
isort = 6.0.1
pyflakes = 3.3.2
pycodestyle = 2.13.0
mccabe = 0.7.0

ecreall.helpers.testing = 1.7
testfixtures = 6.10.3

# restapi tests
collective.MockMailHost = 3.0.0
